## 1. 숫자가 3의 배수인지 판별하는 함수

- 3의 배수면 `"3의 배수"`
- 아니면 `"아님"`

In [ ]:
def check_multiple_of_three(num):
    pass


print(check_multiple_of_three(9))   # 3의 배수
print(check_multiple_of_three(10))  # 아님
print(check_multiple_of_three(0))   # 3의 배수

## 2. 숫자가 10 이상인지 아닌지 판별하기

In [ ]:
def is_ten_or_more(num):
    pass


print(is_ten_or_more(10))  # 10 이상
print(is_ten_or_more(7))   # 10 미만

## 3. 리스트에서 가장 큰 수 찾기

- `max()` 사용 금지

In [ ]:
def find_max(lst):
    pass


print(find_max([3, 1, 9, 4]))   # 9
print(find_max([10, 5, 7]))     # 10

## 4. 딕셔너리에서 특정 key의 value 반환하기

- key가 없으면 `"없음"` 반환

In [ ]:
def get_value(dic, key):
    pass


user = {"name": "kim", "age": 20}

print(get_value(user, "name"))   # kim
print(get_value(user, "job"))    # 없음

## 5. 리스트 평균 구하기

- `sum`, `len` 사용 금지

In [ ]:
def average(lst):
    pass


print(average([10, 20, 30]))   # 20.0
print(average([1, 2]))         # 1.5

## 6. 문자열 길이 구하기

- `len()` 사용 금지

In [ ]:
def string_length(text):
    pass


print(string_length("hello"))   # 5
print(string_length(""))        # 0

## 7. 리스트에 있는 모든 숫자 출력하기

In [ ]:
def print_numbers(lst):
    pass


print_numbers([1, 3, 5])
# 1
# 3
# 5

## 8. 리스트에서 짝수만 출력하기

In [ ]:
def print_even(lst):
    pass


print_even([1, 2, 3, 4, 10])
# 2
# 4
# 10

## 9. 문자열에서 공백 개수 세기

In [ ]:
def count_spaces(text):
    pass


print(count_spaces("hello world"))  # 1
print(count_spaces("a b c d"))       # 3

## 10. 리스트 요소 등장 횟수 세기

- 딕셔너리로 결과 반환

In [ ]:
def count_items(lst):
    pass


print(count_items([1, 1, 2, 3, 3, 3]))
# {1: 2, 2: 1, 3: 3}